[submodule "themes/vinyl-records-collection-theme"]
	path = themes/vinyl-records-collection-theme
	url = https://github.com/Wivik/vinyl-records-collection-theme
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
